<div id="screen-name">
  <h3>Nueva Solicitud</h3>
    {{#link-to 'solicitudes' tagName="button" classNames="btn"}}<span title="Regresar a solicitudes" class="glyphicon glyphicon-chevron-left"></span>{{/link-to}}
</div>
<div id="wide-panel">
  <div id="solicitud-new">
    {{#form-for controller}}
      <h3>Solicitud</h3>

      <div class="form-group">
        <label for="unknown" class="col-sm-2 control-label">Cliente</label>

        <div class="col-sm-7">
          {{view App.Select2View contentBinding="controllers.application.clientes"
          optionLabelPath="content.razon_social"
          optionValuePath="content.id"
          selectionBinding="cliente"}}
        </div>
      </div>

      <div class="form-group">
        <label for="unknown" class="col-sm-2 control-label">Contacto</label>

        <div class="col-sm-7">
          {{view App.Select2View contentBinding="cliente.contactos"
          optionLabelPath="content.nombre"
          optionValuePath="content.id"
          selectionBinding="contacto"}}
        </div>
      </div>

      {{input descripcion as="text" label="Descripción"}}

      <div class="form-group">
        <label for="unknown" class="col-sm-2 control-label">Tipo</label>
        <div class="col-sm-6" id="solicitud-new-tipos">
          {{#view App.RadioButtonGroup group="tipo-option" valueBinding="tipo"}}
            <div class="col-sm-2">{{view App.RadioButtonField title="Tipo I" value=1}}</div>
            <div class="col-sm-2">{{view App.RadioButtonField title="Tipo II" value=2 disable=true}}</div>
            <div class="col-sm-2">{{view App.RadioButtonField title="Tipo II" value=3}}</div>
          {{/view}}
        </div>
      </div>

      {{#unless isTipoI}}

        <div class="form-group">
          <label for="unknown" class="col-sm-2 control-label">Responsable</label>

          <div class="col-sm-7">
            {{view App.Select2View contentBinding="controllers.application.empleadosCache"
            optionLabelPath="content.nombre_completo"
            optionValuePath="content.id"
            selectionBinding="responsable_presupuestal"}}
          </div>
        </div>

        <div class="form-group">
          <label for="unknown" class="col-sm-2 control-label">Proyecto</label>

          <div class="col-sm-7">
            {{view App.Select2View contentBinding="controllers.application.proyectosCache"
            optionLabelPath="content.nombre"
            optionValuePath="content.id"
            selectionBinding="proyecto"}}
          </div>
        </div>

        <div class="form-group">
          <label for="unknown" class="col-sm-2 control-label">Sede</label>

          <div class="col-sm-7">
            {{view App.Select2View contentBinding="controllers.application.sedesCache"
            optionLabelPath="content.nombre"
            optionValuePath="content.id"
            selectionBinding="sede"}}
          </div>
        </div>

        <div class="form-group">
          <label for="unknown" class="col-sm-2 control-label">Prioridad</label>

          <div class="col-sm-7" id="solicitud-prioridad">
            {{view Ember.Select content=controllers.application.prioridades
            value=prioridad
            optionValuePath="content.id"
            optionLabelPath="content.descripcion"}}
          </div>
        </div>

      {{/unless}}

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-7">
          {{save-button item=this}}
        </div>
      </div>

    {{/form-for}}
  </div>
</div>
