<div id="main-container">
  <div id="main-row">
    <div id="left-panel">
      <div id="app-info">
        <h3>Vinculación</h3>
      </div>
      <ul id="app-nav" class="nav nav-pills nav-stacked">
          {{#link-to 'solicitudes' tagName='li' id='solicitudes-link'}}<a href="#">Solicitudes</a>{{/link-to}}
        {{#link-to 'clientes' tagName='li' id='clientes-link'}}<a href="#">Clientes</a>{{/link-to}}
        {{#link-to 'proyectos' tagName='li' id='proyectos-link'}}<a href="#">Proyectos</a>{{/link-to}}
        {{#link-to 'catalogo' tagName='li' id='catalogo-link'}}<a href="#">Catálogo</a>{{/link-to}}
        {{#link-to 'clientes_netmultix' tagName='li' id='ciente-netmultix-link'}}<a href="#">Clientes Netmultix</a>{{/link-to}}
      </ul>
      <div id="left-panel-bottom">
        <img id="avatar" src="{{unbound currentUser.avatar_url}}">
        <h3>{{currentUser.usuario}}</h3>
        <h2>VN01BD01-01</h2>
      </div>
    </div>
  
    <div id="main-panel">
      {{outlet}}
    </div>
  
  </div>
</div>

{{view App.NotificationView id="notifications" notificationBinding="notification" notification_typeBinding="notification_type"}}

{{outlet 'modal'}}

