<div id="cedula">
  Codigo {{codigo}}</br>
  Total Costo variable {{formatCurrency total_costo_variable}} de {{costos_variables.length}} variables </br>
  Costo indirecto {{formatCurrency costo_indirecto}} (17.26%)</br>
  Costo interno {{formatCurrency costo_interno}}</br>
  Porcentaje participación {{formatPercent porcentaje_participacion}}</br>
  Precio venta {{formatCurrency precio_venta}}</br>
  Utilidad {{formatCurrency utilidad}}</br>
  Remanente {{formatCurrency remanente_distribuible}}</br>

</div>̵