<div id='cedula-header'>
    {{#if isEdicion}}
        <div class="cedula-actions">
            {{#link-to 'cedula.edit' this tagName="button" classNames="btn btn-default"}}
                <span class="glyphicon glyphicon-edit"></span> Editar
            {{/link-to}}
            {{#link-to 'cedula.transmitir' this tagName="button" classNames="btn btn-primary" disabled=this.noPuedeTransmitir}}
                <span class="glyphicon glyphicon-send"></span> Transmitir a NetMultix
            {{/link-to}}

        </div>
    {{/if}}

</div>

{{outlet }}
<div class="clearfix"></div>


<div id="cedula-wrapper-x">
<div id="cedula">

  <table id="table-cedula-header">
    <tr>
      <td id="column-servicio">
        <table id="table-servicio">
          <tr>
            <td class="etiqueta">No Cédula</td>
            <td class="dato-bold">{{codigo}}</td>
          </tr>
          <!--<tr>-->
            <!--<td class="etiqueta">Proyecto</td>-->
            <!--<td class="dato-bold">{solicitud.proyecto.codigo}</td>-->
          <!--</tr>-->
          <!--<tr>-->
            <!--<td class="etiqueta"></td>-->
            <!--<td class="dato">{solicitud.proyecto.nombre}</td>-->
          <!--</tr>-->
          <tr>
            <td class="etiqueta">Servicio</td>
            <td class="dato-bold">{{servicio.codigo}}</td>
          </tr>
          <tr>
            <td class="etiqueta"></td>
            <td class="dato">{{servicio.nombre}}</td>
          </tr>
          <tr>
            <td class="etiqueta"></td>
            <td class="dato">{{servicio.descripcion}}</td>
          </tr>
          <tr>
            <td class="etiqueta">Responsable</td>
            <td class="dato-bold">{{servicio.empleado.nombre_completo}}</td>
          </tr>
        </table>
      </td>
      <td id="column-porcentaje">
        <table id="table-servicio">
          <tr>
            <td class="etiqueta">Porcentaje</td>
            <td class="dato-bold">{{formatPercent porcentaje_participacion}}</td>
          </tr>
          <tr>
            <td class="etiqueta">Precio venta</td>
            <td class="dato-bold">{{formatCurrency precio_venta}}</td>
          </tr>
        </table>
      </td>
    </tr>
  </table>

  <div {{bind-attr class="has_costos_class"}}>
    
  <div>
    <table class="table costos-variables-remanente">
      <thead>
      <tr class="encebezado">
        <td colspan="2">Costos variables</td>
      </tr>
      </thead>
      <tbody>
      {{#each costo_var in costos_variables itemController='CostoVariable'}}
        <tr>
          <td class="tipo"><span {{bind-attr class="tipo_class"}}></span></td>
          <td class="descripcion">{{costo_var.descripcion}}</td>
          <td>{{formatCurrency costo_var.costo}}</td>
        </tr>
      {{/each}}
      </tbody>
      <tfoot>
      <tr>
        <td colspan="3">
          <table class="costos-totales">
            <tr>
              <td class="total-descripcion">Total costo variable</td>
              <td class="total-monto">{{formatCurrency total_costo_variable}}</td>
            </tr>
            <tr>
              <td class="total-descripcion">Costo indirecto (17.26%)</td>
              <td class="total-monto">{{formatCurrency costo_indirecto}}</td>
            </tr>
            <tr>
              <td class="total-descripcion">Costo interno</td>
              <td class="total-monto">{{formatCurrency costo_interno}}</td>
            </tr>
            <tr>
              <td class="total-descripcion">Utilidad neta</td>
              <td class="total-monto">{{formatCurrency utilidad_neta}}</td>
            </tr>
            <tr>
              <td class="total-descripcion">Utilidad topada (max 70% del precio venta)</td>
              <td class="total-monto">{{formatCurrency utilidad_topada}}</td>
            </tr>
            <tr>
              <td class="total-descripcion">Remanente (35% de la utilidad topada)</td>
              <td class="total-monto">{{formatCurrency remanente_distribuible}}</td>
            </tr>
          </table>
        </td>
      </tr>
      </tfoot>
    </table>
  </div>

  <div>
    <table class="table costos-variables-remanente">
      <thead>
      <tr class="encebezado">
        <td colspan="2">Remanente distribuible</td>
      </tr>
      </thead>
      <tbody>
      {{#each remanente in remanentes itemController='Remanente'}}
        <tr>
          <td class="tipo"><span class="glyphicon glyphicon-user"></span></td>
          <td class="descripcion">{{remanente.empleado.nombre_completo}}</td>
          <td>{{formatPercent remanente.porcentaje_participacion}}</td>
          <td>{{formatCurrency remanente.monto}}</td>
        </tr>
      {{/each}}
      </tbody>
      <tfoot>
      <tr>
        <td></td>
        <td>Importe a distribuir</td>
        {{#if chk_total_porcentaje}}
          <td><span>{{formatPercent total_porcentaje}}</span></td>
        {{else}}
          <td><span class="total_porcentaje_invalido">{{formatPercent total_porcentaje}}</span></td>
        {{/if}}
        <td>{{formatCurrency remanente_distribuible}}</td>
      </tr>
      </tfoot>
    </table>
  </div>
  </div>


</div>̵
    </div>