<h3>{{razon_social}}</h3>

<!-- Nav tabs -->
<ul class="nav nav-tabs">
    <li class="active"><a href="#datos" data-toggle="tab">Datos</a></li>
    <li><a href="#contactos" data-toggle="tab">Contactos <span class="badge badge-muestras">{{contactosCount}}</span></a></li>
</ul>

<div class="tab-content">

    <div class="tab-pane active" id="datos">

        <div class="cliente-form">
          {{#form-for controller}}

              <div class="col-sm-8">
                  <div class="cliente-rfc">
                      <strong>RFC</strong><br/>
                    {{input-field rfc}}
                  </div>
                  <div class="cliente-razon-social">
                      <strong>Razón social</strong><br/>
                    {{input-field razon_social}}
                  </div>
                  <div class="cliente-num-empleados">
                      <strong>Num. empleados</strong><br/>
                    {{view App.NumberField value=num_empleados classNames="form-control input-sm" min="0"}}
                      <div class="clearfix"></div>
                  </div>
          
                  <div class="cliente-pais">
                  <strong>País</strong><br/>
                   {{view App.Select2View
                   contentBinding="controllers.application.paises"
                   optionValuePath="content.id"
                   optionLabelPath="content.nombre"
                   selection="cliente.pais_id"
                   value=pais_id}}
                  </div>
 
                  <div class="cliente-estado">
                  <strong>Estado</strong><br/>
                    {{view App.Select2View 
                    contentBinding="controllers.application.estados"
                    value=estado_id
                    optionValuePath="content.id"
                    optionLabelPath="content.nombre"}}
                  </div>

                  <div class="cliente-tamano-empresa">
                      <strong>Tamaño empresa</strong><br/>
                    {{view Ember.Select content=controllers.application.tamanos_empresa
                    value=tamano_empresa
                    optionValuePath="content.id"
                    optionLabelPath="content.descripcion"}}
                  </div>

                  <div class="cliente-sector">
                      <strong>Sector</strong><br/>
                    {{view Ember.Select content=controllers.application.sectores_empresa
                    value=sector
                    optionValuePath="content.id"
                    optionLabelPath="content.descripcion"}}
                  </div>

                  <div class="cliente-direccion">
                      <strong>Dirección (calle y núm)</strong><br/>
                    {{input-field calle_num }}
                  </div>
                  <div class="cliente-colonia">
                      <strong>Colonia</strong><br/>
                    {{input-field colonia}}
                  </div>
                  <div class="cliente-cp">
                      <strong>CP</strong><br/>
                    {{view App.NumberField value=cp classNames="form-control input-sm" min="0"}}
                      <div class="clearfix"></div>
                  </div>
                  <div class="cliente-telefono">
                      <strong>Teléfono</strong><br/>
                    {{input-field telefono as="tel"}}
                  </div>
                  <div class="cliente-fax">
                      <strong>Fax</strong><br/>
                    {{input-field fax as="tel"}}
                  </div>
                  <div class="cliente-email">
                      <strong>Email</strong><br/>
                    {{input-field email as="email"}}
                  </div>
              </div>

              <div class="form-group">
                  <div class="col-sm-7">
                      <button type="submit"
                              class="btn btn-primary" {{bind-attr disabled=this.isNotReadyForSave}} {{action "update" this target='controller'}} >
                        {{#if item.isSaving}}
                            <span class="spin glyphicon glyphicon-refresh"></span>
                            Guardando...
                        {{else}}
                            Guardar
                        {{/if}}
                      </button>
                  </div>
                  <div class="col-sm-1">
                      <button class="btn-delete btn btn-danger" {{action "destroy" this target='controller'}}><span title="Eliminar cliente" class="glyphicon glyphicon-trash"></span></button>
                  </div>
              </div>

          {{/form-for}}
        </div>

    </div>

    <div class="tab-pane" id="contactos">

      {{outlet}}

    </div>

</div>

