<div id='cotizacion-header'>
    <h3>Cotización {{consecutivo}}
      {{#if showToolBar}}
        {{#if isEdicion}}
          {{#link-to 'cotizacion.edit' this tagName="span" classNames="glyphicon glyphicon-edit"}}{{/link-to}}
          {{#link-to 'cotizacion.notificar' this tagName="span" classNames="glyphicon glyphicon-send"}}{{/link-to}}
        {{/if}}
        {{#if isNotificado}}
          {{#link-to 'cotizacion.rechazar' this tagName="span" classNames="glyphicon glyphicon-remove"}}{{/link-to}}
          {{#link-to 'cotizacion.aceptar' this tagName="span" classNames="glyphicon glyphicon-ok"}}{{/link-to}}
        {{/if}}
      {{/if}}
    </h3>

</div>


{{#if showCotizacion}}
    <table class="table cotizacion">
        <tbody>
        <tr>
            <td>Status</td>
            <td>
              {{#view App.EnumView  items=status_text index=status}}
                {{view.item.texto}}
              {{/view}}

              {{#if isNotificado}}
                  <h6>({{msg_notificacion}})</h6>
              {{/if}}
              {{#unless isNotificado}}
                  <h6>{{motivo_status}}</h6>
              {{/unless}}
            </td>
        </tr>
        <tr>
            <td>Duración</td>
            <td>{{duracion}}</td>
        </tr>
        <tr>
            <td>Condición pago</td>
            <td>
              {{#view App.EnumView  items=controllers.application.condiciones index=condicion}}
                {{view.item.codigo}}
              {{/view}}
            </td>
        </tr>
        <tr>
            <td>Idioma</td>
            <td>
              {{#view App.EnumView  items=controllers.application.idiomas index=idioma}}
                {{view.item.codigo}} - {{view.item.descripcion}}
              {{/view}}
            </td>
        </tr>
        <tr>
            <td>Divisa</td>
            <td>
              {{#view App.EnumView  items=controllers.application.divisas index=divisa}}
                {{view.item.codigo}} - {{view.item.descripcion}}
              {{/view}}
            </td>
        </tr>
        <tr>
            <td>Comentarios</td>
            <td>{{comentarios}}</td>
        </tr>
        <tr>
            <td>Observaciones</td>
            <td>{{observaciones}}</td>
        </tr>
        <tr>
            <td>Notas</td>
            <td>{{notas}}</td>
        </tr>
        <tr>
            <td>+++++++++++++++++++++++++++</td>
        </tr>
        <tr>
            <td>Precio Venta</td>
            <td>{{formatCurrency precio_venta}}</td>
            <td>Heuristico</td>
        </tr>
        <tr>
            <td>Costos variables</td>
            <td>{{formatCurrency costos_variables}}</td>
            <td>Suma Costeos: HrsHombre, Mats, Viaticos, etc.</td>
        </tr>
        <tr>
            <td>Importe indirectos</td>
            <td>{{formatCurrency importe_indirectos}}</td>
            <td>17.26% del Costo Variable</td>
        </tr>
        <tr>
            <td>Costo CIMAV</td>
            <td>{{formatCurrency costo_cimav}}</td>
            <td>CostoVariable + Importe indirectos</td>
        </tr>
        <tr>
            <td>Margen PV</td>
            <td>{{formatCurrency margen_precio_venta}}</td>
            <td>Diferencia  PrecioVenta - CostoCimav</td>
        </tr>
        <tr>
            <td>Remanente topado</td>
            <td>{{formatCurrency remanente_topado}}</td>
            <td>70% del MargenPV</td>
        </tr>
        <tr>
            <td>Remanente distribuible</td>
            <td>{{formatCurrency remanente_distribuible}}</td>
            <td>35% del topado</td>
        </tr>
        <tr>
            <td>+++++++++++++++++++++++++++</td>
        </tr>
        <tr>
            <td>SubTotal</td>
            <td>{{formatCurrency precio_venta}}</td>
            <td>Normalmente es el PrecioVenta</td>
        </tr>
        <tr>
            <td>Descuento</td>
            <td>{{formatCurrency descuento_calculado}}</td>
            <td>{{formatPercentage descuento_porcentaje}}</td>
        </tr>
        <tr>
            <td>Descuento aplicado</td>
            <td>{{formatCurrency descuento_aplicado}}</td>
            <td>SubTotal - Descuento </td>
        </tr>
        <tr>
            <td>IVA</td>
            <td>{{formatCurrency iva_calculado}}</td>
            <td>{{formatPercentage iva}}</td>
        </tr>
        <tr>
            <td>TOTAL</td>
            <td>{{formatCurrency total}}</td>
            <td>DescuentoAplicado + IVA </td>
        </tr>

        </tbody>
    </table>

{{/if}}

{{outlet}}
