<div id='cotizacion-header'>
  {{#if showToolBar}}

    {{#if isEdicion}}
      <h4>Cotizando</h4>

      <div class="cotizacion-actions">
        {{#link-to 'cotizacion.edit' this tagName="button" classNames="btn btn-default"}}
          <span class="glyphicon glyphicon-edit"></span> Editar
        {{/link-to}}

        {{#if isSolicitarDescuento}}
          {{#link-to 'cotizacion.solicitar_descuento' this tagName="button" classNames="btn btn-info"}}
            <span class="glyphicon glyphicon-thumbs-up"></span>Solicitar descuento
          {{/link-to}}
        {{else}}
          {{#link-to 'cotizacion.notificar' this tagName="button" classNames="btn btn-primary" disabled=this.noPuedeNotificar}}
            <span class="glyphicon glyphicon-send"></span> Notificar al cliente
          {{/link-to}}
        {{/if}}


      </div>
    {{/if}}


    {{#if isDescuentoSolicitado}}
      <h4>En espera de autorización de descuento</h4>
    {{/if}}

    {{#if isDescuentoAceptado}}
      <h4>Descuento aceptado</h4>

      <div class="cotizacion-actions">
        {{#link-to 'cotizacion.notificar' this tagName="button" classNames="btn btn-primary" disabled=this.noPuedeNotificar}}
          <span class="glyphicon glyphicon-send"></span> Notificar al cliente
        {{/link-to}}
      </div>
    {{/if}}

    {{#if isDescuentoRechazado}}
      <h4>Descuento rechazado</h4>

      <div class="cotizacion-actions">
        <button type="submit" class="btn btn-default" {{action "recotizar" this target='controller'}} >
          Re-cotizar
        </button>
        {{#link-to 'cotizacion.rechazar' this tagName="button" classNames="btn btn-warning"}}
          <span class="glyphicon glyphicon-repeat"></span> Rechazar
        {{/link-to}}
      </div>
    {{/if}}

    {{#if isNotificado}}
      <h4>En espera de respuesta del cliente</h4>

      <div class="cotizacion-actions">

        {{#link-to 'cotizacion.aceptar' this tagName="button" classNames="btn btn-success"}}
          <span class="glyphicon glyphicon-ok"></span> Aceptar
        {{/link-to}}

        {{#link-to 'cotizacion.rechazar' this tagName="button" classNames="btn btn-warning"}}
          <span class="glyphicon glyphicon-repeat"></span> Rechazar
        {{/link-to}}
      </div>
    {{/if}}

    {{#if isAceptado}}
      <h4><span class="glyphicon glyphicon-ok"></span> Cotización aceptada</h4>
    {{/if}}

    {{#if isRechazado}}
      <h4><span class="glyphicon glyphicon-remove"></span>Cotización rechazada</h4>
    {{/if}}

    {{#if isCancelado}}
      <h4><span class="glyphicon glyphicon-remove"></span>Cotización cancelada</h4>
    {{/if}}

  {{/if}}
  {{outlet cotizacion-header}}
  <div class="clearfix"></div>
</div>

<div id="cotizacion-wrapper">
  {{outlet accion-cotizacion}}
  <div id="cotizacion">
    <div class="row">
      <div class="col-sm-9">
        <div class="cotizacion-cliente-data">
          <div class="cliente-nombre">{{model.solicitud.cliente.razon_social}}</div>
          <div class="cliente-contacto">{{model.solicitud.contacto.nombre}}</div>
          <div class="cliente-contacto-tel">{{model.solicitud.contacto.telefono}}</div>
          <div class="cliente-contacto-email">{{model.solicitud.contacto_email}}</div>
        </div>
      </div>
      <div class="col-sm-3">
        <div id="cotizacion-codigo-data">
          <div id="codigo">{{codigo}}</div>
          {{#unless isNormal}}
            <div id="tiempo-entrega"><span class="label label-default">{{tiempo_entrega_txt}}</span></div>
          {{/unless}}
        </div>
      </div>
    </div>
    {{#if showCotizacion}}
      <div class="row">

        <div class="col-sm-8">
          <div class="cotizacion-mensaje">
            <strong>Mensaje:</strong><br/>
            {{comentarios}}
          </div>
        </div>

        <div class="col-sm-4 cotizacion-extra-data">
          <div class="extra-item">
            <span class="glyphicon glyphicon-calendar"></span>{{format-date "LL" fecha_notificacion}}
          </div>
          <div class="extra-item">
            <span class="glyphicon glyphicon-time"></span> {{duracion}} días hábiles
          </div>
          <div class="extra-item">
            <span class="glyphicon glyphicon-briefcase"></span> {{condicion_item.descripcion}}
          </div>
          <div class="extra-item">
            <span class="glyphicon glyphicon-globe"></span> {{idioma_item.descripcion}}
          </div>
          <div class="extra-item">
            <span class="glyphicon glyphicon-usd"></span> {{divisa_item.codigo}} {{divisa_item.descripcion}}
          </div>
        </div>

      </div>

      <div class="row">
        <div class="col-sm-12">
          <table class="table">
            <thead>
            <tr>
              <th class="det-cantidad">Cant.</th>
              <th class="det-concepto">Concepto</th>
              <th class="det-precio-unitario">Precio</th>
              <th class="det-total">Total</th>
            </tr>
            </thead>
            <tbody>
            {{#each cotizacion_detalles itemController="cotizacion_detalle"}}
              <tr>
                <td class="det-cantidad text-right">{{cantidad}}</td>
                <td class="det-concepto">{{concepto}}</td>
                <td class="det-precio-unitario text-right">{{formatCurrency precio_unitario}}</td>
                <td class="det-total text-right">{{formatCurrency total}}</td>
              </tr>
            {{/each}}
            <tr>
              <td class="text-right totales" colspan="3">Subtotal</td>
              <td class="text-right totales">{{formatCurrency subtotal_calculado}}</td>
            </tr>
            <tr>
              <td class="det-descuento text-right" colspan="3">Descuento {{descuento_porcentaje}}%</td>
              <td class="text-right totales">{{formatCurrency descuento_calculado}}</td>
            </tr>
            <tr>
              <td class="text-right totales" colspan="3">Precio venta</td>
              <td class="text-right totales">{{formatCurrency precio_venta_calculado}}</td>
            </tr>
            <tr>
              <td class="text-right totales" colspan="3">IVA {{iva}}%</td>
              <td class="text-right totales">{{formatCurrency iva_calculado}}</td>
            </tr>
            <tr>
              <td class="text-right totales" colspan="3">TOTAL</td>
              <td class="text-right totales">{{formatCurrency total_calculado}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 cotizacion-notas">
          <strong>Notas:</strong><br/>
          {{notas}}
        </div>
      </div>

        <div class="row">
            <div class="col-sm-12 cotizacion-notas">
                {{#if hasLeyendas}}
                    <strong>Leyendas:</strong><br/>
                    {{#each model.solicitud.servicios}}
                        {{#each costeos}}
                            {{#if hasLeyenda}}
                                <p>
                                    {{#if mostrar_leyenda}}
                                        <span class="item-number glyphicon glyphicon-ok" style="color: #47a447" }}></span>
                                    {{else}}
                                        <span class="item-number glyphicon glyphicon-ok" style="color: lightgray"}}></span>
                                    {{/if}}
                                    <span>{{leyenda}}</span>
                                </p>
                            {{/if}}
                        {{/each}}
                    {{/each}}
                {{else}}
                    <p style="color: lightgray;" >No tiene leyendas</p><br/>
                {{/if}}
            </div>
        </div>



    {{/if}}

    {{outlet}}

  </div>

  {{#if showCotizacion}}
    <div id="pdf-link">
      <a class="btn btn-default btn-sm" {{bind-attr href='pdf_url' disabled=this.disablePDFCotizacion}} target="_blank">
        <span class="glyphicon glyphicon-file"></span>
        Descargar PDF
      </a>
    </div>
  {{/if}}

</div>

