<div id='cotizacion-header'>
    <h3>Cotización {{consecutivo}}
      {{#if showToolBar}}
        {{#if isEdicion}}
          {{#link-to 'cotizacion.edit' this tagName="span" classNames="glyphicon glyphicon-edit"}}{{/link-to}}
          {{#link-to 'cotizacion.notificar' this tagName="span" classNames="glyphicon glyphicon-send"}}{{/link-to}}
        {{/if}}
        {{#if isNotificado}}
          {{#link-to 'cotizacion.rechazar' this tagName="span" classNames="glyphicon glyphicon-remove"}}{{/link-to}}
          {{#link-to 'cotizacion.aceptar' this tagName="span" classNames="glyphicon glyphicon-ok"}}{{/link-to}}
        {{/if}}
      {{/if}}
    </h3>

</div>



<div id="cotizacion">
  <div class="row">
    <div class="col-sm-9">
      <div class="cotizacion-cliente-data">
        <div class="cliente-nombre">{{model.solicitud.cliente.razon_social}}</div>
        <div class="cliente-contacto">{{model.solicitud.contacto.nombre}}</div>
        <div class="cliente-contacto-tel">{{model.solicitud.contacto.telefono}}</div>
        <div class="cliente-contacto-email">{{model.solicitud.contacto_email}}</div>
      </div>
    </div>
    <div class="col-sm-3">
      <div id="cotizacion-codigo">{{codigo}}</div>
    </div>
  </div>
  {{#if showCotizacion}}
    <div class="row">
      
      <div class="col-sm-8">
        <div class="cotizacion-mensaje">
          <strong>Mensaje:</strong><br/>
          {{comentarios}}
        </div>
        <div class="cotizacion-observaciones">
          <strong>Observaciones:</strong><br/>
          {{observaciones}}
        </div>
      </div>

      <div class="col-sm-4 cotizacion-extra-data">
        <div class="extra-item">
          <span class="glyphicon glyphicon-time"></span> {{duracion}} días habiles.
        </div>
        <div class="extra-item">
          <span class="glyphicon glyphicon-briefcase"></span> {{condicion_item.descripcion}}.
        </div>
        <div class="extra-item">
          <span class="glyphicon glyphicon-globe"></span> {{idioma_item.descripcion}}.
        </div>
        <div class="extra-item">
          <span class="glyphicon glyphicon-usd"></span> {{divisa_item.codigo}} {{divisa_item.descripcion}}.
        </div>
      </div>
    
    </div>

    <div class="row">
      <div class="col-sm-12">
        <table class="table">
          <thead>
            <tr>
              <th class="det-cantidad">Cant.</th>
              <th class="det-concepto">Concepto</th>
              <th class="det-precio-unitario">Precio</th>
              <th class="det-total">Total</th>
            </tr>
          </thead>
          <tbody>
            {{#each cotizacion_detalles itemController="cotizacion_detalle"}}
              <tr>
                <td class="det-cantidad text-right">{{cantidad}}</td>
                <td class="det-concepto">{{concepto}}</td>
                <td class="det-precio-unitario text-right">{{formatCurrency precio_unitario}}</td>
                <td class="det-total text-right">{{formatCurrency total}}</td>
              </tr>
            {{/each}}
            <tr>
              <td class="text-right totales" colspan="3">Subtotal</td>
              <td class="text-right totales">{{formatCurrency subtotal_calculado}}</td>
            </tr>
            <tr>
              <td class="det-descuento text-right" colspan="3">Descuento {{descuento_porcentaje}}%</td>
              <td class="text-right totales">{{formatCurrency descuento_calculado}}</td>
            </tr>
            <tr>
              <td class="text-right totales" colspan="3">IVA {{iva}}%</td>
              <td class="text-right totales">{{formatCurrency iva_calculado}}</td>
            </tr>
            <tr>
              <td class="text-right totales" colspan="3">TOTAL</td>
              <td class="text-right totales">{{formatCurrency total_calculado}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="row">  
      <div class="col-sm-12 cotizacion-notas">
        <strong>Notas:</strong><br/>
        {{notas}}
      </div>
    </div>

  {{/if}}

  {{outlet}}
    
</div>

