<div id="muestras">
  {{#each controllers.solicitud.muestras}}
    <div class="muestra-item" {{bind-attr id=div_id}} {{bind-attr class=isDirty}}>
      <div class="muestra-codigo" {{bind-attr data-codigo=codigo}}>{{codigo}} <span class="badge badge-muestras">{{cantidad}}</span></div>
      <div class="muestra-info">
        <span {{action 'editMuestra' id}} class="glyphicon glyphicon-edit muestra-edit"></span>
        <div class="muestra-identificacion">{{identificacion}}</div>
        <div class="muestra-descripcion">{{descripcion}}</div>
      </div>
      <div class="muestra-edit-form">
        <form {{action 'updateMuestra' this on="submit"}}>
          <div class="muestra-identificacion">
            {{input type="text"
                    value=identificacion
                    classNames="form-control muestra-identificacion-input" placeholder="Identificaci贸n"}}
            {{input type="number"
                    min="1"
                    value=cantidad
                    classNames="form-control
                    muestra-cantidad-input"
                    placeholder="Cantidad"}}
          </div>
          <div class="clearfix"></div>
          <div class="muestra-descripcion">{{textarea value=descripcion classNames="form-control muestra-descripcion-input" placeholder="Descripci贸n"}}</div>
          <div class="muestra-guardar">{{save-button item=this caption="Actualizar"}}</div>
          <div class="muestra-eliminar"><button {{action 'deleteMuestra' this}} class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span></button></div>
        </form>
      </div>
    </div>
  {{/each}}
  <div class="muestra-item" id="nueva-muestra">
    <div class="muestra-codigo">Nueva Muestra</div>
    <div id="nueva-muestra-link">
      <span {{action 'showAddMuestraForm'}} class="glyphicon glyphicon-plus"></span>
      <div>Agregar muestra</div>
    </div>
    <form {{action 'addMuestra' this on="submit"}}>
      <div class="muestra-identificacion">
        {{input type="text" 
                value=newMuestra.identificacion 
                classNames="form-control muestra-identificacion-input" placeholder="Identificaci贸n"}} 
        {{input type="number" 
                min="1" 
                value=newMuestra.cantidad 
                classNames="form-control 
                muestra-cantidad-input" 
                placeholder="Cantidad"}}
      </div>
      <div class="clearfix"></div>
      <div class="muestra-descripcion">{{textarea value=newMuestra.descripcion classNames="form-control muestra-descripcion-input" placeholder="Descripci贸n"}}</div>
      <div class="muestra-cantidad"></div>
      <div class="muestra-guardar">{{save-button item=newMuestra caption="Agregar muestra"}}</div>
    </form>
  </div>
</div>
