<div id="proyecto-index">
    <h3>{{cuenta}} - {{nombre}}</h3>

  <div id="proyecto-index-datos">
    <div class="header">Cuenta</div>
    <div class="dato">{{cuenta}}</div>
    <div class="header">Nombre</div>
    <div class="dato">{{nombre}}</div>
    <div class="header">Descripción</div>
    <div class="dato">{{descripcion}}</div>

    {{#if isCancelada}}
      <div class="header"><span class="label label-default">{{status_text}}</span></div>
      <div class="dato">{{motivo_status}}</div>
    {{/if}}

  </div>

</div>
