<div id="servicios-list">
   <ul class="nav nav-pills nav-stacked affix-top">
    {{#link-to 'servicios.resumen' tagName="li"}}<a href="#"><span class="resumen glyphicon glyphicon-list"></span> Resumen</a>{{/link-to}}
    {{#each itemController="servicio"}}
      {{#link-to 'servicio' this tagName="li"}}<a href="#"><span {{bind-attr class=":consecutivo isCancelado"}}>{{romano}}</span> <span {{bind-attr class=":servicio-nombre isCancelado"}}>{{nombre}}</span></a>{{/link-to}}
    {{/each}}
     {{#if allowAddServicios}}
       {{#link-to 'servicios.new' tagName="li"}}<a href="#"><span class="add">+</span>Agregar servicio</a>{{/link-to}}
     {{else}}
       <p class="p-disabled"><span class="add-disabled">+</span>Agregar servicio</p>
     {{/if}}
  </ul>
</div>
<div id="servicios-workarea" data-spy="scroll" data-target="#servicios-list">
  {{outlet}}
</div>
