<h3>Servicios</h3>
<ul id="servicios-list" class="nav nav-pills nav-stacked">
  {{#link-to 'servicios' tagName="li"}}<a href="#">Resumen</a>{{/link-to}}
  {{#each controllers.solicitud.servicios}}
    {{#link-to 'servicio.edit' this tagName="li"}}<a>{{nombre}}</a>{{/link-to}}
  {{/each}}
  {{#link-to 'servicios.new' tagName="li"}}<a href="#">Agregar servicio</a>{{/link-to}}
</ul>

<div id="servicios-workarea" class="tab-content">

  {{outlet}}

  {{#if showServiciosList}}
    <div id="servicios">
      <h4>Resumen</h4>
      {{#each controllers.solicitud.servicios}}
      <div {{bind-attr id=servicio_seccion}}>
        <h4>{{nombre}}</h4>
        <p>{{descripcion}}</p>
      </div>
      {{/each}}
    </div>
  {{/if}}

</div>