<div id="servicio">
<h3><span class="consecutivo">{{consecutivo}}</span> {{nombre}} {{#link-to 'servicio.edit' this tagName="span" classNames="glyphicon glyphicon-edit"}}{{/link-to}}</h3>
{{#if showServicio}}
  <div id="servicio-detalles">
    <div class="servicio-empleado media">
      <span class="pull-left">
        <img class="media-object img-circle" {{bind-attr src=empleado.avatar_url}} />
      </span>
      <div class="media-body">
        <h4 class="media-heading">{{empleado.nombre_completo}}</h4>
        <div class="empleado-datos">
          <a {{bind-attr href=empleado.mailto}}>{{empleado.email}}</a><br/>
          {{empleado.telefono}}
        </div>
      </div>
    </div>
    <p>{{descripcion}}</p>

    {{#each servicio_datos.muestras}}
      <div class="muestra-servicios">
        <div class="muestra-item">
          <div class="muestra-codigo">{{codigo}} <span class="badge badge-muestras">{{cantidad}}</span></div>
          <div class="muestra-info">
            <div class="muestra-identificacion">{{identificacion}}</div>
          </div>
        </div>
        <div class="muestra-servicios-detalles">
          {{#each costeos}}
            <h4>{{nombre_servicio}} {{total}}</h4>
            <table class="table">
              {{#each costeo_detalle}}
                <tr>
                  <td>{{descripcion}}</td>
                  <td>{{cantidad}}</td>
                  <td>{{precio_unitario}}</td>
                </tr>
              {{/each}}
            </table>
          {{/each}}
        </div>
      </div>
      <div class="clearfix"></div>
    {{/each}}

  </div>

  <div class="servicio-acciones">
    {{#if isInicial}}
      <button {{action 'solicitaCosteo'}} class="btn btn-primary">Solicitar costeo</button>
    {{/if}}
    {{#if isEsperandoCosteo}}
      <button disabled="disabled" class="btn btn-primary">Esperando costeo...</button>
    {{/if}}
  </div>

{{/if}}


{{outlet}}