<div id="screen-name">
  <div id="solicitud-header">
  <table class="tabla-solicitud-header">
    <tr>
      {{#if isTipoI}}
        <td class="columna-logo-tipo-i">
          <span class="glyphicon glyphicon-folder-close"></span>
        </td>
      {{/if}}
      {{#if isTipoII}}
        <td class="columna-logo-tipo-ii">
          <span class="glyphicon glyphicon-folder-close"></span>
        </td>
      {{/if}}
      {{#if isTipoIII}}
        <td class="columna-logo-tipo-iii">
          <span class="glyphicon glyphicon-folder-close"></span>
        </td>
      {{/if}}
      <td class="columna-titulo">
          <h3>Solicitud <strong>{{codigo}}</strong></h3>
          <div class="clearfix"></div>
          <p class="columna-titulo-proyecto">{{proyecto.codigo}} {{proyecto.nombre}}</p>
      </td>
      {{#if alertasAbiertasCount}}
      <td class="columna-alerta">
        <span class="label label-alerta">{{alertasAbiertasCount}} alertas sin contestar</span>
      </td>
      {{/if}}
      <td class="columna-status">
        <span class="label label-default">{{status_text}}</span>
      </td>
    </tr>
  </table>
  </div>
</div>

<div id="op-options-panel">
  <ul class="nav nav-pills nav-stacked">
    {{#link-to 'solicitud.index' this tagName="li"}}<a href="#"><span class="glyphicon glyphicon-ok"></span> Solicitud</a>{{/link-to}}
    {{#if alertasCount}}
      {{#link-to 'alertas' this tagName="li"}}<a href="#"><span class="glyphicon glyphicon-remove"></span> Alertas <span class="badge badge-alertas">{{alertasCount}}</span></a>{{/link-to}}
    {{/if}}

    {{#link-to 'muestras' this tagName="li"}}<a href="#"><span class="glyphicon glyphicon-th"></span> Muestras <span class="badge badge-muestras">{{muestrasCount}}</span></a>{{/link-to}}
    {{#unless isTipoI}}
      {{#if muestrasCount}}
        {{#link-to 'servicios' this tagName="li"}}<a href="#"><span class="glyphicon glyphicon-list"></span> Servicios <span class="badge badge-servicios">{{serviciosCount}}</span></a>{{/link-to}}
      {{/if}}
    {{/unless}}

    {{#link-to 'archivos' this tagName="li"}}<a href="#"><span class="glyphicon glyphicon-file"></span> Archivos</a>{{/link-to}}

    {{#link-to 'cotizaciones' this tagName="li"}}<a href="#"><span class="glyphicon glyphicon-usd"></span> Cotizaciones <span class="badge badge-cotizaciones">{{this.lastCotizacion.consecutivo}}</span></a>{{/link-to}}
    {{#link-to 'arrancar' this tagName="li"}}<a href="#"><span class="glyphicon glyphicon-flash"></span> Arrancar </a>{{/link-to}}
    {{#if mostrarCedulas}}
      {{#link-to 'cedulas' this tagName="li"}}<a href="#"><span class="glyphicon glyphicon-list-alt"></span> Cédulas <span class="badge badge-cedulas">{{this.cedulas.length}}</span></a>{{/link-to}}
    {{/if}}

    {{#link-to 'solicitud.seguimiento' this tagName="li"}}<a href="#"><span class="glyphicon glyphicon-calendar"></span> Seguimiento</a>{{/link-to}}

  </ul>
  <div id="bottom-options">
    {{#link-to 'solicitud.cancelacion' this tagName="button" classNames="btn btn-danger btn-block btn-sm" disabled=this.isCancelada}}
      <span class="glyphicon glyphicon-remove"></span> Cancelar solicitud
    {{/link-to}}
  </div>
</div>
<div id="op-main-panel">
  {{outlet}}
</div>



