<div id="screen-name">
  <div id="solicitud-header">
    <div id="solicitud-header-codigo">
      <h3>Solicitud <strong>{{codigo}}</strong></h3>
      <span class="label label-default">{{status_text}}</span>
      <div class="clearfix"></div>
    </div>
    <div id="solicitud-header-proyecto">
      {{proyecto.codigo}} {{proyecto.nombre}}
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<div id="op-options-panel">
  <ul class="nav nav-pills nav-stacked">
      {{#link-to 'solicitud.index' this tagName="li"}}<a href="#"><span class="glyphicon glyphicon-ok"></span> Solicitud</a>{{/link-to}}
    {{#link-to 'muestras' this tagName="li"}}<a href="#"><span class="glyphicon glyphicon-th"></span> Muestras <span class="badge badge-muestras">{{muestrasCount}}</span></a>{{/link-to}}
    {{#if muestrasCount}}
      {{#link-to 'servicios' this tagName="li"}}<a href="#"><span class="glyphicon glyphicon-list"></span> Servicios <span class="badge badge-servicios">{{serviciosCount}}</span></a>{{/link-to}}
    {{/if}}
    {{#link-to 'cotizaciones' this tagName="li"}}<a href="#"><span class="glyphicon glyphicon-usd"></span> Cotizaciones <span class="badge badge-cotizaciones">{{this.lastCotizacion.consecutivo}}</span></a>{{/link-to}}
    {{#link-to 'arrancar' this tagName="li"}}<a href="#"><span class="glyphicon glyphicon-flash"></span> Arrancar </a>{{/link-to}}
    {{#link-to 'cedulas' this tagName="li"}}<a href="#"><span class="glyphicon glyphicon-list-alt"></span> Cédulas <span class="badge badge-cedulas">{{this.cedulas.length}}</span></a>{{/link-to}}
  </ul>
  <div id="bottom-options">
    {{#link-to 'solicitud.cancelacion' this tagName="button" classNames="btn btn-danger btn-block btn-sm" disabled=this.isCancelada}}
      <span class="glyphicon glyphicon-remove"></span> Cancelar solicitud
    {{/link-to}}
  </div>
</div>
<div id="op-main-panel">
  {{outlet}}
</div>



