<div id="screen-name">
  <h3>Solicitud <strong>{{codigo}}</strong> <code> - {{proyecto.nombre}}</code></h3>
    {{#link-to 'solicitudes' tagName="button" classNames="btn"}}<span title="Regresar a solicitudes" class="glyphicon glyphicon-chevron-left"></span>{{/link-to}}
</div>
<div id="op-options-panel">
  <ul class="nav nav-pills nav-stacked">
    {{#link-to 'solicitud.index' this tagName="li"}}<a href="#"><span class="glyphicon glyphicon-ok"></span> Solicitud</a>{{/link-to}}
    {{#link-to 'muestras' this tagName="li"}}<a href="#"><span class="glyphicon glyphicon-th"></span> Muestras <span class="badge badge-muestras">{{muestrasCount}}</span></a>{{/link-to}}
    {{#if muestrasCount}}
      {{#link-to 'servicios' this tagName="li"}}<a href="#"><span class="glyphicon glyphicon-list"></span> Servicios <span class="badge badge-servicios">{{serviciosCount}}</span></a>{{/link-to}}
    {{/if}}
    {{#link-to 'cotizaciones' this tagName="li"}}<a href="#"><span class="glyphicon glyphicon-usd"></span> Cotizaciones <span class="badge badge-cotizaciones">{{this.lastCotizacion.consecutivo}}</span></a>{{/link-to}}
  </ul>
  <div id="bottom-options">
    {{#link-to 'solicitud.cancelacion' this tagName="button" classNames="btn btn-inverse" disabled=this.isCancelada}}
      <span class="glyphicon glyphicon-remove"></span> Cancelar solicitud
    {{/link-to}}
  </div>
</div>
<div id="op-main-panel">
  {{outlet}}
</div>



