{{outlet}}
{{#if showSolicitudesList}}
    <div id="screen-name">
        <h3>Solicitudes</h3>
        {{#link-to 'solicitudes.new' tagName="button"classNames="btn btn-success"  disabled=currentUser.isOnlyRead}}<span title="Agregar nueva solicitud" class="glyphicon
        glyphicon-plus"></span>{{/link-to}}
    </div>

    <div id="md-general-panel">
        <div id="md-search-box">
            <div class="input-group">
                {{input type="text" value=searchText placeholder="Buscar solicitud(es)..." classNames="form-control"}}
                <div class="input-group-btn">
                    <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
                </div>
            </div>
        </div>


        <div id="md-items-list">
            {{#each model}}

                {{#link-to 'solicitud' this.id tagName="div" classNames="md-item"}}
                    <div class="md-item-inner">
                        <div class="media">
                            <table class="tabla-solicitudes">
                                <tr>
                                    {{#if isTipoI}}
                                        <td class="columna-logo-tipo-i">
                                            <span class="glyphicon glyphicon-folder-close">
                                                 <span  class="tipo-romano-1">I</span>
                                            </span>

                                        </td>
                                    {{/if}}
                                    {{#if isTipoII}}
                                        <td class="columna-logo-tipo-ii">
                                            <span class="glyphicon glyphicon-folder-close">
                                                <span  class="tipo-romano-2">II</span>
                                            </span>
                                        </td>
                                    {{/if}}
                                    {{#if isTipoIII}}
                                        <td class="columna-logo-tipo-iii">
                                            <span class="glyphicon glyphicon-folder-close">
                                                <span  class="tipo-romano-3">III</span>
                                            </span>
                                        </td>
                                    {{/if}}
                                    <td class="columna-cliente">
                                        <div class="solicitud-codigo">{{codigo}}</div>
                                        <div class="razon-social">{{cliente_razon_social}}</div>
                                        <div class="contacto-nombre">{{contacto_nombre}}</div>

                                        <div class="etiqueta">{{datos_usuario}} &nbsp;&nbsp;<span>{{format-date "MMMM DD, YYYY" created_at}}</span></div>
                                    </td>
                                    <td class="columna-proyecto">
                                        <div class="media-heading">{{proyecto_cuenta}}</div>
                                        <div class="proyecto-nombre">{{proyecto_nombre}}</div>
                                        <div class="descripcion" data-toggle="tooltip" title="{{unbound descripcion}}">{{getDescripcion}}</div>
                                    </td>
                                    <td class="columna-datos">
                                        <table>
                                            <tr><td><span class="etiqueta">status</span></td><td><span class="label label-default">{{status_text}}</span></td></tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                {{/link-to}}

            {{/each}}
        </div>


    </div>
{{/if}}