<div id="solicitud-edit">
  {{#form-for controller}}
    <h3>Solicitud</h3>
    <div class="form-group">
      <label for="unknown" class="col-sm-2 control-label">Tipo</label>
      <div class="col-sm-7">
        {{view Ember.Select contentBinding="App.tipoCache"
                            optionLabelPath="content.nombre"
                            optionValuePath="content.id"
                            selectionBinding="tipo"
                            class="form-control"
                            }}
      </div>
    </div>
    <div class="form-group">
      <label for="unknown" class="col-sm-2 control-label">Proyecto</label>
      <div class="col-sm-7">
        {{view App.Select2View contentBinding="controllers.application.proyectosCache"
                               optionLabelPath="content.nombre"
                               optionValuePath="content.id"
                               selectionBinding="proyecto"}}

      </div>
    </div>
      <div class="form-group">
      <label for="unknown" class="col-sm-2 control-label">Sede</label>
      <div class="col-sm-7">
        {{view Ember.Select contentBinding="App.sedeCache"
                            optionLabelPath="content.nombre"
                            optionValuePath="content.id"
                            selectionBinding="sede"
                            class="form-control"
                            }}
      </div>
    </div>
    <div class="form-group">
      <label for="unknown" class="col-sm-2 control-label">Cliente</label>
      <div class="col-sm-7">
        {{view App.Select2View contentBinding="controllers.application.clientesCache"
                               optionLabelPath="content.nombre"
                               optionValuePath="content.id"
                               selectionBinding="cliente"}}
      </div>
    </div>
    <div class="form-group">
      <label for="unknown" class="col-sm-2 control-label">Contacto</label>
      <div class="col-sm-7">
        {{view App.Select2View contentBinding="controllers.application.contactosCache"
                               optionLabelPath="content.nombre"
                               optionValuePath="content.id"
                               selectionBinding="contacto"}}
      </div>
    </div>
    {{input contacto_email}}
    <div class="form-group">
      <label for="unknown" class="col-sm-2 control-label">Prioridad</label>
      <div class="col-sm-7">
        {{view Ember.Select contentBinding="App.prioridadCache"
                            optionLabelPath="content.nombre"
                            optionValuePath="content.id"
                            selectionBinding="prioridad"
                            class="form-control"
                            }}
      </div>
    </div>
    {{input notas}}
    {{input acuerdos as="text"}}
    <div class="form-group">
      <label for="unknown" class="col-sm-2 control-label">Estatus</label>
      <div class="col-sm-7">
        {{view Ember.Select contentBinding="App.statusCache"
                            optionLabelPath="content.nombre"
                            optionValuePath="content.id"
                            selectionBinding="status"
                            class="form-control"
                            }}
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-7">
        {{save-button item=this}}
      </div>
    </div>
  {{/form-for}}
</div>
