<div id="solicitud-index">
  <h3>Solicitud {{codigo}}
  {{#if canEdit}}
    {{#link-to 'solicitud.edit' this tagName="span" classNames="glyphicon glyphicon-edit enabled"}}{{/link-to}}
  {{else}}
   <span class="glyphicon glyphicon-edit disabled"></span>
  {{/if}}
  </h3>

  <div id="solicitud-index-datos">
    <div class="header">Proyecto</div>
    <div class="dato">{{proyecto.codigo}}</div>
    <div class="dato">{{proyecto.nombre}}</div>
    <div class="header">Sede</div>
    <div class="dato">{{sede.nombre}}</div>
    <div class="header">Descripción</div>
    <div class="dato">{{descripcion}}</div>
    <div class="header">Cliente</div>
    <div class="dato">{{cliente.razon_social}}</div>
    <div class="header">Contacto</div>
    <div class="dato">{{contacto.nombre}} </div>
    <div class="dato">{{contacto.email}}</div>
    <div class="dato">{{contacto.telefono}}</div>
    <div class="header">Prioridad</div>
    <div class="dato">{{#view App.EnumView  items=controllers.application.prioridades index=prioridad}}{{view.item.descripcion}}{{/view}}</div>
    <div class="header">Orden compra</div>
    <div class="dato">{{orden_compra}}</div>

    <div class="header">Fechas</div>
    <div class="dato">
      <table id="table-fechas">
        <tbody>
        <tr>
          <td class="fechas-header">inicio</td>
          <td>{{format-date "LL" fecha_inicio}}</td>
        </tr>
        <tr>
          <td class="fechas-header">termino</td>
          <td>{{format-date "LL" fecha_termino}}</td>
        </tr>
        <tr>
          <td class="fechas-header">duración</td>
          <td>{{duracion}} días</td>
        </tr>
        </tbody>
      </table>
    </div>

    {{#if isCancelada}}
      <div class="header"><span class="label label-default">{{status_text}}</span></div>
      <div class="dato">{{motivo_status}}</div>
    {{/if}}

  </div>

</div>
