<div id="solicitud-index">
  <h3>Solicitud {{codigo}}
    {{#if canEdit}}
      {{#link-to 'solicitud.edit' this tagName="span" classNames="glyphicon glyphicon-edit enabled"}}{{/link-to}}
    {{else}}
      <span class="glyphicon glyphicon-edit disabled"></span>
    {{/if}}
  </h3>

  <div id="solicitud-index-datos">

    <div class="header">Descripción</div>
    <div class="dato">{{descripcion}}</div>
    <div class="header">Tipo</div>
    <div class="dato">{{tipoText}}</div>
    {{#unless isTipoI}}
      <div class="header">Responsable presupuestal</div>
      <div class="dato">{{responsable_presupuestal.apellido_paterno}} {{responsable_presupuestal.apellido_materno}}, {{responsable_presupuestal.nombre}}</div>
      <div class="header">Proyecto</div>
      <div class="dato">{{proyecto.codigo}}</div>
      <div class="dato">{{proyecto.nombre}}</div>
      <div class="header">Sede</div>
      <div class="dato">{{sede.nombre}}</div>
      <div class="header">Descripción</div>
      <div class="dato">{{descripcion}}</div>
    {{/unless}}
    <div class="header">Cliente</div>
    <div class="dato">{{cliente.razon_social}}</div>
    <div class="header">Contacto</div>
    <div class="dato">{{contacto.nombre}} </div>
    <div class="dato">{{contacto.email}}</div>
    <div class="dato">{{contacto.telefono}}</div>
    {{#unless isTipoI}}
      <div class="header">Prioridad</div>
      <div class="dato">{{#view App.EnumView  items=controllers.application.prioridades index=prioridad}}{{view.item.descripcion}}{{/view}}</div>
    {{/unless}}
    <div class="header">Orden compra</div>
    <div class="dato">{{orden_compra}}</div>

    <div class="header">Fechas</div>
    <div class="dato">
      <table id="table-fechas">
        <tbody>
        <tr>
          <td class="fechas-header">creación</td>
          <td>{{format-date "LL" created_at}}</td>
        </tr>
        <tr>
          <td class="fechas-header">inicio</td>
          <td>{{format-date "LL" fecha_inicio}}</td>
        </tr>
        <tr>
          <td class="fechas-header">termino</td>
          <td>{{format-date "LL" fecha_termino}}</td>
        </tr>
        <tr>
          <td class="fechas-header">duración</td>
          <td>{{duracion}} días</td>
        </tr>
        </tbody>
      </table>
    </div>

    {{#if isTipoI}}

      <div class="header">Muestra</div>
      <div class="dato">
        {{#if hasMuestras}}
          <table id="table-fechas">
            <tbody>
            <tr>
              <td class="fechas-header">Cantidad</td>
              <td>{{muestraNoCoordinado.cantidad}}</td>
            </tr>
            <tr>
              <td class="fechas-header">Identificación</td>
              <td>{{muestraNoCoordinado.identificacion}}</td>
            </tr>
            <tr>
              <td class="fechas-header">Descripción</td>
              <td>{{muestraNoCoordinado.descripcion}}</td>
            </tr>
            </tbody>
          </table>
        {{else}}
          No tiene muestra capturada
        {{/if}}
      </div>

      <div class="header">Servicio</div>
      <div class="dato">
        {{#if hasServicios}}
          <table id="table-fechas">
            <tbody>
            <tr>
              <td class="fechas-header">Código</td>
              <td>{{servicioNoCoordinado.codigo}}</td>
            </tr>
            <tr>
              <td class="fechas-header">Nombre</td>
              <td>{{servicioNoCoordinado.nombre}}</td>
            </tr>
            <tr>
              <td class="fechas-header">Descripción</td>
              <td>{{servicioNoCoordinado.descripcion}}</td>
            </tr>
            <tr>
              <td class="fechas-header">Costo interno</td>
              <td>{{formatCurrency servicioNoCoordinado.servicio_bitacora.costo_interno}}</td>
            </tr>
            <tr>
              <td class="fechas-header">Precio venta</td>
              <td>{{formatCurrency servicioNoCoordinado.servicio_bitacora.precio_venta}}</td>
            </tr>
            <tr>
              <td class="fechas-header">Status</td>
              <td>{{servicioNoCoordinado.status_text}}</td>
            </tr>
            </tbody>
          </table>
        {{else}}
          No tiene servicio capturado
        {{/if}}
      </div>

      <div class="header">Tiempo entrega</div>
      <div class="dato">{{tiempoEntregaText}}</div>

    {{/if}}

    <div class="header">Usuario</div>
    <div class="dato">{{usuario.usuario}}</div>
    <div class="dato">{{usuario.nombre}} {{usuario.apellidos}}</div>
    <div class="dato">{{usuario.sede.descripcion}}</div>

    {{#if isCancelada}}
      <div class="header"><span class="label label-default">{{status_text}}</span></div>
      <div class="dato">{{motivo_status}}</div>
    {{/if}}

  </div>

</div>
