<button type="submit" class="btn btn-primary {{classNames}}" {{bind-attr disabled=item.isNotDirty}}>
  {{#if item.isSaving}}
    <span class="spin glyphicon glyphicon-refresh"></span>
    Guardando...
  {{else}}
    {{#if caption}}
      {{caption}}
    {{else}}
      Guardar
    {{/if}}
  {{/if}}
</button>
