<h3>Nuevo</h3>

{{#form-for controller}}
  {{input codigo label='Código'}}
  {{input nombre }}

  <div class="form-group">
      <div class="col-sm-offset-2 col-sm-6">
          <button type="submit"
                  class="btn btn-primary" {{bind-attr disabled=this.isNotReadyForSave}} {{action "create" this target='controller'}} >
            {{#if item.isSaving}}
                <span class="spin glyphicon glyphicon-refresh"></span>
                Guardando...
            {{else}}
                Guardar
            {{/if}}
          </button>
      </div>
  </div>

{{/form-for}}
