%h1 Sistema de Gestión de Recursos
#apps
  .row
    .app-item.col-md-3{'data-app' => 'rh'}
      .app-icon
        = image_tag("/assets/app-rh.png");
      .app-label
        = "Recursos Humanos"
    .app-item.col-md-3{'data-app' => 'proyectos'}
      .app-icon
        = image_tag("/assets/app-proyectos.png");
      .app-label
        = "Proyectos"
    .app-item.col-md-3{'data-app' => 'vinculacion'}
      .app-icon
        = image_tag("/assets/app-vinculacion.png");
      .app-label
        = "Vinculación"
