<div id="screen-name">
  <h3>Nuevo Proyecto <strong>{{cuenta}}</strong></h3>
    {{#link-to 'proyecto' tagName="button" classNames="btn"}}<span title="Regresar al proyecto" class="glyphicon glyphicon-chevron-left"></span>{{/link-to}}
</div>
<div id="wide-panel">
  <div id="proyecto-edit">
    {{#form-for controller}}

      <div class="form-group">
        <label for="unknown" class="col-sm-2 control-label">Cuenta presupuestal</label>

        <div class="col-sm-2">
          {{input type="text" value=cuenta classNames="form-control"}}
        </div>
      </div>
      <div class="form-group">
        <label for="unknown" class="col-sm-2 control-label">Nombre</label>

        <div class="col-sm-9">
          {{input type="text" value=nombre classNames="form-control"}}
        </div>
      </div>
      <div class="form-group">
        <label for="unknown" class="col-sm-2 control-label">Descripción</label>

        <div class="col-sm-9">
          {{textarea value=descripcion classNames="form-control"}}
        </div>
      </div>

      <div class="form-group">
        <label for="unknown" class="col-sm-2 control-label">Sede</label>

        <div class="col-sm-7">
          {{view App.Select2View contentBinding="controllers.application.sedesCache"
          id = "selSedes"
          prompt = "Seleccionar sede..."
          optionLabelPath="content.descripcion"
          optionValuePath="content.id"
          selectionBinding="sede"}}
        </div>
      </div>
      <div class="form-group">
        <label for="unknown" class="col-sm-2 control-label">Departamento</label>

        <div class="col-sm-7">
          {{view App.Select2View contentBinding="controllers.application.departamentosCache"
          id = "selDepartamentos"
          prompt = "Seleccionar departamento..."
          optionLabelPath="content.descripcion"
          optionValuePath="content.id"
          selectionBinding="departamento"}}
        </div>
      </div>
      <div class="form-group">
        <label for="unknown" class="col-sm-2 control-label">Responsable</label>

        <div class="col-sm-7">
          {{view App.Select2View contentBinding="departamento.empleados"
          id = "selResponsables"
          prompt = "Seleccionar responsable..."
          optionLabelPath="content.nombre_completo"
          optionValuePath="content.id"
          selectionBinding="responsable"}}
        </div>
      </div>

      <div class="form-group">
        <label for="unknown" class="col-sm-2 control-label">Estructura</label>
        <div class="col-sm-9 item-estructura">
          <div class="estructura-tipo">
            <strong>Tipo</strong><br/>
            {{view App.Select2View contentBinding="controllers.application.tiposCache"
            id = "selTipos"
            prompt = "Seleccionar..."
            optionLabelPath="content.id_nombre"
            optionValuePath="content.id"
            selectionBinding="tipo"}}
          </div>
          <div class="estructura-recurso">
            <strong>Recurso</strong><br/>
            {{view App.Select2View contentBinding="tipo.sortedRecursos"
            id = "selRecursos"
            prompt = "Seleccionar..."
            optionLabelPath="content.id_nombre"
            optionValuePath="content.id"
            selectionBinding="recurso"}}
          </div>
          <div class="estructura-fondo">
            <strong>Fondo</strong><br/>
            {{view App.Select2View contentBinding="recurso.sortedFondos"
            id = "selFondos"
            prompt = "Seleccionar..."
            optionLabelPath="content.id_nombre"
            optionValuePath="content.id"
            selectionBinding="fondo"}}
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="unknown" class="col-sm-2 control-label">Año</label>

        <div class="col-sm-3">
          <div class="fecha-anio">
            {{input type="text" value=anio classNames="form-control"}}
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="unknown" class="col-sm-2 control-label">Fechas</label>

        <div class="col-sm-9 item-fechas">

          <div class="fecha-inicio">
            <strong>Inicio</strong><br/>
            {{view App.DateField dateBinding="fecha_inicio"}}
            <div class="clearfix"></div>
          </div>

          <div class="fecha-fin">
            <strong>Término</strong><br/>
            {{view App.DateField dateBinding="fecha_fin"}}
            <div class="clearfix"></div>
          </div>

          <div class="fecha-duracion">
            <strong>Duración</strong><br>

            <div id="fecha-duracion-dias">
              {{humanise_duracion}} ({{duracion}} días)
            </div>
            <div class="clearfix"></div>
          </div>

        </div>
      </div>

      <div class="form-group">
        <label for="unknown" class="col-sm-2 control-label">Presupuesto autorizado</label>

        <div class="col-sm-3">
          {{input type="text" value=presupuesto_autorizado classNames="form-control"}}
        </div>
      </div>
      <div class="form-group">
        <label for="unknown" class="col-sm-2 control-label">Cuenta bancaria</label>

        <div class="col-sm-4">
          {{input type="text" value=banco_cuenta classNames="form-control"}}
        </div>
      </div>
      <div class="form-group">
        <label for="unknown" class="col-sm-2 control-label">Impacto</label>

        <div class="col-sm-9">
          {{textarea value=impacto classNames="form-control"}}
        </div>
      </div>
      <div class="form-group">
        <label for="unknown" class="col-sm-2 control-label">Resultado esperado</label>

        <div class="col-sm-9">
          {{textarea value=resultado_esperado classNames="form-control"}}
        </div>
      </div>
      <div class="form-group">
        <label for="unknown" class="col-sm-2 control-label">Objetivo estratégico</label>

        <div class="col-sm-9">
          {{textarea value=objetivo_estrategico classNames="form-control"}}
        </div>
      </div>
      <div class="form-group">
        <label for="unknown" class="col-sm-2 control-label">Alcance</label>

        <div class="col-sm-9">
          {{textarea value=alcance classNames="form-control"}}
        </div>
      </div>
      <div class="form-group">
        <label for="unknown" class="col-sm-2 control-label">Convenio</label>

        <div class="col-sm-9">
          {{textarea value=convenio classNames="form-control"}}
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-9">
          {{save-button item=this}}
        </div>
      </div>

    {{/form-for}}
  </div>
</div>


