<h3>Editar</h3>

{{#form-for controller}}
  {{input nombre }}
  {{input telefono label='Teléfono'}}
  {{input email }}
{{/form-for}}
<div class="btn-group">
    <button type="submit"
            class="btn btn-primary" {{bind-attr disabled=this.isNotReadyForSave}} {{action 'update' this }} >
      {{#if item.isSaving}}
          <span class="spin glyphicon glyphicon-refresh"></span>
          Guardando...
      {{else}}
          Guardar
      {{/if}}
    </button>
</div>
