{{#link-to "contactos.new"  tagName="button" classNames="btn"}} <span title="Agregar contacto" class="glyphicon glyphicon-plus-sign"></span> {{/link-to}}

{{#each contacto in controllers.cliente.contactos}}
    <div class="contacto-item">

        <button {{action "delete" contacto}}><span title="Eliminar contacto" class="glyphicon glyphicon-trash"></span></button>
      {{#link-to "contacto.edit" contacto tagName="button" classNames="btn"}} <span title="Editar contacto" class="glyphicon glyphicon-pencil"></span> {{/link-to}}

        <div class="contacto-nombre">{{contacto.nombre}}</div>
        <div class="contacto-telefono">{{contacto.telefono}}</div>
        <div class="contacto-email">{{contacto.email}}</div>
    </div>
{{/each}}

{{#if deleteMode}}
    <div class="confirm-box">
        <h4>Really?</h4>
        <button {{action "confirmDelete"}}> yes</button>
        <button {{action "cancelDelete"}}> no</button>
    </div>
{{/if}}


