{{#form-for controller}}
    <div class="row">
      <div class="col-sm-8">
        <div class="cotizacion-mensaje">
          <strong>Mensaje:</strong><br/>
          {{input-field comentarios as="text"}}
        </div>
      </div>

      <div class="col-sm-4 cotizacion-extra-data cotizacion-extra-data-edit">

        <div class="extra-item extra-item-date">
          <span class="glyphicon glyphicon-calendar"></span>
          {{view App.DateField dateBinding="fecha_notificacion"}}
          <div class="clearfix"></div>
        </div>

        <div class="extra-item">
          <span class="glyphicon glyphicon-time"></span>
          {{view App.NumberField value=duracion classNames="form-control input-sm" min="1"}}
          <span class="extra-text">días habiles.</span>
          <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
        <div class="extra-item">
          <span class="glyphicon glyphicon-briefcase"></span>
          {{view Ember.Select content=controllers.application.condiciones
          value=condicion
          optionValuePath="content.id"
          optionLabelPath="content.descripcion"
          classNames="input-sm"}}
          <div class="clearfix"></div>
        </div>

        <div class="extra-item">
          <span class="glyphicon glyphicon-globe"></span>
          {{view Ember.Select content=controllers.application.idiomas
          value=idioma
          optionValuePath="content.id"
          optionLabelPath="content.descripcion"
          classNames="input-sm"}}
          <div class="clearfix"></div>
        </div>

        <div class="extra-item">
          <span class="glyphicon glyphicon-usd"></span>
          {{view Ember.Select content=controllers.application.divisas
          value=divisa
          optionValuePath="content.id"
          optionLabelPath="content.codigo"
          classNames="input-sm"}}
          <div class="clearfix"></div>
        </div>

      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <table class="table" id="tabla-edicion-cotizacion-detalle">
        <thead>
          <tr>
            <th class="det-cantidad">Cant.</th>
            <th class="det-concepto">Concepto</th>
            <th class="det-precio-unitario">Precio</th>
            <th class="det-total">Total</th>
            <th class="det-accion"></th>
          </tr>
        </thead>
        <tbody>
          {{#each cotizacion_detalles itemController="cotizacion_detalle"}}
            <tr>
              <td class="det-cantidad text-right">{{input-field cantidad disabled=disableFirstItem}}</td>
              <td class="det-concepto">{{input-field concepto  disabled=disableFirstItem}}</td>
              <td class="det-precio-unitario text-right">{{input-field precio_unitario disabled=disableFirstItem}}</td>
              <td class="det-total text-right">{{formatCurrency total disabled=disableFirstItem}}</td>
              <td class="det-accion" {{bind-attr dirty=isDirty}}>
                {{#if isNotDirty}}
                  {{#if disableFirstItem}}
                    <span class="glyphicon glyphicon-remove-circle"></span>
                  {{else}}
                    <span {{action 'deleteDetalle' this}} class="glyphicon glyphicon-remove"></span>
                  {{/if}}
                {{else}}
                  {{#if isSaving}}
                    <span class="spin glyphicon glyphicon-refresh"></span>
                  {{else}}
                    <span class="glyphicon glyphicon-record"></span>
                  {{/if}}
                {{/if}}
              </td>
            </tr>
          {{/each}}
          <tr>
            <td class="det-cantidad text-right">{{input-field newDetalle.cantidad}}</td>
            <td class="det-concepto">{{input-field newDetalle.concepto placeholder='Nuevo detalle...'}}</td>
            <td class="det-precio-unitario text-right">{{input-field newDetalle.precio_unitario}}</td>
            <td class="det-total text-right">{{formatCurrency newDetalle.total}}</td>
            <td class="det-accion-new">
              <button {{action 'addDetalle' newDetalle}} class="btn btn-success btn-xs" {{bind-attr disabled=isNotDirty}}>
                {{#if isSaving}}
                  <span class="spin glyphicon glyphicon-refresh"></span>
                {{else}}
                  <span class="glyphicon glyphicon-plus"></span>
                {{/if}}
              </button>
            </td>
          </tr>
          <tr>
            <td class="text-right totales" colspan="3">Subtotal</td>
            <td class="text-right totales">{{formatCurrency subtotal_calculado}}</td>
            <td></td>
          </tr>
          <tr>
            <td class="det-descuento text-right" colspan="3">
              <div class="pull-right">
                <div class="descuento-label">Descuento</div>
                <div class="input-group input-group-sm pull-left">
                  {{view App.NumberField value=descuento_porcentaje classNames="form-control" min="0" max="100"}}
                  <span class="input-group-addon">%</span>
                </div>
              </div>
            </td>
            <td class="text-right totales">{{formatCurrency descuento_calculado}}</td>
            <td></td>
          </tr>

          <tr>
            <td class="text-right totales" colspan="3">Precio venta</td>
            <td class="text-right totales">{{formatCurrency precio_venta_calculado}}</td>
            <td></td>
          </tr>

          <tr>
            <td class="text-right totales" colspan="3">IVA {{iva}}%</td>
            <td class="text-right totales">{{formatCurrency iva_calculado}}</td>
            <td></td>
          </tr>
          <tr>
            <td class="text-right totales" colspan="3">TOTAL</td>
            <td class="text-right totales">{{formatCurrency total_calculado}}</td>
            <td></td>
          </tr>
        </tbody>
        </table>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12 cotizacion-notas">
        <strong>Notas:</strong><br/>
        {{input-field notas as="text"}}
      </div>
    </div>

{{/form-for}}
