{{#form-for controller}}
    <div class="form-group">
        <div class="col-sm-3">
            <label for="unknown" class="col-sm-2 control-label">Condición</label>
          {{view Ember.Select content=controllers.application.condiciones
          value=condicion
          optionValuePath="content.id"
          optionLabelPath="content.codigo"}}
        </div>

        <div class="col-sm-3">
            <label for="unknown" class="col-sm-2 control-label">Idioma</label>
          {{view Ember.Select content=controllers.application.idiomas
          value=idioma
          optionValuePath="content.id"
          optionLabelPath="content.codigo"}}
        </div>

        <div class="col-sm-3">
            <label for="unknown" class="col-sm-2 control-label">Divisa</label>
          {{view Ember.Select content=controllers.application.divisas
          value=divisa
          optionValuePath="content.id"
          optionLabelPath="content.codigo"}}
        </div>

    </div>

    {{input duracion label = 'Duración'}}
    {{input comentarios as="text"}}
    {{input observaciones as="text"}}
    {{input notas as="text"}}
    
    <div class="col-sm-12">
      <table class="table" id="tabla-edicion-cotizacion-detalle">
        <thead>
          <tr>
            <th class="det-cantidad">Cant.</th>
            <th class="det-concepto">Concepto</th>
            <th class="det-precio-unitario">Precio</th>
            <th class="det-total">Total</th>
            <th class="det-accion"></th>
          </tr>
        </thead>
        <tbody>
          {{#each cotizacion_detalles itemController="cotizacion_detalle"}}
            <tr>
              <td class="det-cantidad text-right">{{input-field cantidad}}</td>
              <td class="det-concepto">{{input-field concepto}}</td>
              <td class="det-precio-unitario text-right">{{input-field precio_unitario}}</td>
              <td class="det-total text-right">{{formatCurrency total}}</td>
              <td class="det-accion">
                <button {{action 'updateDetalle' this}} class="btn btn-primary btn-xs" {{bind-attr disabled=isNotDirty}}>
                  {{#if isSaving}}
                    <span class="spin glyphicon glyphicon-refresh"></span>
                  {{else}}
                    <span class="glyphicon glyphicon-save"></span>
                  {{/if}}
                </button>
                <button {{action 'deleteDetalle' this}} class="btn btn-xs">
                  <span class="glyphicon glyphicon-remove"></span>
                </button>
              </td>
            </tr>
          {{/each}}
          <tr>
            <td class="det-cantidad text-right">{{input-field newDetalle.cantidad}}</td>
            <td class="det-concepto">{{input-field newDetalle.concepto placeholder='Nuevo detalle...'}}</td>
            <td class="det-precio-unitario text-right">{{input-field newDetalle.precio_unitario}}</td>
            <td class="det-total text-right">{{formatCurrency newDetalle.total}}</td>
            <td class="det-accion">
              <button {{action 'addDetalle' newDetalle}} class="btn btn-success btn-xs" {{bind-attr disabled=isNotDirty}}>
                {{#if isSaving}}
                  <span class="spin glyphicon glyphicon-refresh"></span>
                {{else}}
                  <span class="glyphicon glyphicon-plus"></span>
                {{/if}}
              </button>  
            </td>
          </tr>
          <tr>
            <td class="text-right totales" colspan="3">Subtotal</td>
            <td class="text-right totales">{{formatCurrency subtotal_calculado}}</td>
            <td></td>
          </tr>
          <tr>
            <td class="det-descuento text-right" colspan="3">
              <div class="pull-right">
                <div class="descuento-label">Descuento</div> 
                <div class="input-group input-group-sm pull-left">
                  {{view App.NumberField value=descuento_porcentaje classNames="form-control" min="0" max="100"}}
                  <span class="input-group-addon">%</span>
                </div>
              </div>
            </td>
            <td class="text-right totales">{{formatCurrency descuento_calculado}}</td>
            <td></td>
          </tr>
          <tr>
            <td class="text-right totales" colspan="3">IVA {{iva}}%</td>
            <td class="text-right totales">{{formatCurrency iva_calculado}}</td>
            <td></td>
          </tr>
          <tr>
            <td class="text-right totales" colspan="3">TOTAL</td>
            <td class="text-right totales">{{formatCurrency total_calculado}}</td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
    
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-7">
            <button type="submit"
                    class="btn btn-primary" {{bind-attr disabled=this.isNotReadyForSave}} {{action "update" this target='controller'}} >
              {{#if item.isSaving}}
                  <span class="spin glyphicon glyphicon-refresh"></span>
                  Guardando...
              {{else}}
                {{#if caption}}
                  {{caption}}
                {{else}}
                    Guardar
                {{/if}}
              {{/if}}
            </button>
        </div>
    </div>
{{/form-for}}
